[submodule "SOEM"]
	path = iod/ext/SOEM
	url = https://github.com/OpenEtherCATsociety/SOEM.git
	branch = master
[submodule "iod/ext/cpp-httplib"]
	path = iod/ext/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "iod/ext/ext/cpp-httplib"]
	path = iod/ext/ext/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
