## my project
iod/cw
iod/device_connector
iod/iosh
iod/modbusd
iod/persistd
states.dat
devices.dat

## generic
._*

## sqlite
*.sqlite

## c++
cmake_install.cmake
CMakeCache.txt
CMakeFiles
*.app
build
mingw_build
*.[oa]
*.so

#node.js
node_modules

#build files
*.out

#visual studio
.vscode

# xcode
xcode
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

# codeblocks
gmon.out

### - mac - ###
.DS_Store


# repositories
.hg
.svn
CVS

# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/
